html, body {
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0;
  background-color: #303030;
}

a {
  color: white;
  /*text-decoration: none !important;*/
}

a:visited {
  color: white;
}

.main_content_area {
  /*width: 100vw;*/
  min-height: 100vh;
  grid-column: 1/end;
  font-family: "Helvetica";
  color: white;
}

@font-face {
  font-family: 'CeruleanBlueCapsDEMO-Regular';
  src: url("./cerulean.otf") format("opentype");
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: auto;

  height: 100%;
  width: 100%;
  margin: 0;
}

.header_container {
  display: grid;
  grid-column: 1/end;

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position-x: 100%;
  background-position-y: center;
}

/*
@media only screen and (min-width: 768px) {
  .header_logo_container {
    grid-column: 1/1;
  }
}

@media only screen and (max-width: 600px) {
  .header_logo_container {
    position: absolute;
    float: left;
    max-width: 1.5em;
    margin-top: 14.5em; 
  }
  .header_logo path {
    fill: #FFF;
  }

  .header_logo_text_container {
    grid-column: 1/end;
  }
}
*/


.header_logo_text_container {
  grid-column: 2/3;
}

.header_logo_text {
    /* 2/3 */
    font-family: 'CeruleanBlueCapsDEMO-Regular';
    font-size: 6em;
    /*justify-self: end;*/
    text-align: center;
}
.header_logo {
  height: auto;
  max-height: 15em;
  padding: 1em;
}
.custom_nav {
  /*span from the first column to the last column*/
  grid-column: 1/end; /*end is a valid keyword apparently? according to chrome at least*/
  width: 100%;
  background-color: #000;
  font-family: 'CeruleanBlueCapsDEMO-Regular';
  color: #FFF;
  font-size: 1.5em;
  text-decoration: none;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 2em;
  /* drop shadooooooooooowwwwwwwww */
  box-shadow: -2px 5px 10px #444444;
  z-index: 3;
}

.custom_nav a {
  padding: 5px;
  text-align: center;
  text-decoration: none !important;
}

/*Custom Dropdown*/

.droptoggle {
  color: white !important;
}

.droptoggle::after {
  content: "ˇ";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  color: black;
  text-decoration: none;
}

.dropdown a:visited {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .droptoggle {color: rgb(249, 10, 209)}

.selfserve_login_text {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  color: white;
}

/*Custom Dropdown*/

/* Shop Shit */

.cart_icon {
  max-width: 32px; /*TODO: emify this*/
  height: auto;
}

/* End Shop Shit */

/* Music Shit */

.music_player {
  background-color: #00FF00;
  color: black;
  /* TODO: music_player styling*/
}

/* End Music Shit */

/* Blog Shit */

/* Blog Shit */

/* Artists */

.artists_master {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: auto;
  padding-left: 3em;
  padding-right: 3em;
}

@media only screen and (max-width: 768px) {
  .artists_master {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: auto;
  }
}

.primary {
  /*grid-column: 1/4;*/
}

.artist_profile {
  background-color: whitesmoke;
  padding: .5em;
  padding-right: 2em;
  margin: .5em;
  text-align: center;
  position: relative;
  display: table-cell;

  border-radius: 5px;
  border: 6px white;
  box-shadow: 2px 5px 10px #666666;
  color: black;
}

.artist_profile_bio {
  font-size: 0.75em;
  padding-bottom: .22em;
  color: gray;
}

.artist_profile_name {
  font-family: 'CeruleanBlueCapsDEMO-Regular';
  font-size: 2em;
}

.artist_img {
  float: left;
  padding: 0px 20px 20px 0px;
  min-width: 6.5em;
  max-width: 7.5em;
  width: auto;
}

.artist_images img {
  object-fit: cover;
}

.artist_images {
  vertical-align: bottom;
  padding-top: 6px;
  padding-bottom: 6px;
}

.icon {
  max-height: 2em;
  width: auto;
}

.dead_center {
  text-align: center
}

/* Artists */

.coming_soon {
  text-align: center;
  align-content: center;
  width: 45%;
  height: auto;
}

.landing_image {
  background-image: url('../images/main_filler.jpg');
  background-size: cover;
  resize: both;
  background-repeat: no-repeat;
  background-position: center;
  height: -webkit-fill-available;
}

@media only screen and (max-width : 950px) {
  .landing_image {
    background-position-x: 77%;
  } 
}

#pastevents_master h3 {
  text-align: center;
}

#pastevent_title {
  text-align: center;
  text-transform: capitalize;
}

.right-align {
  position: absolute;
  right: 0;
  color: lightcoral;
}