body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0;
  background-color: #303030;
}

.main_content_area {
  /* padding: 10px; */
  width: 100%;
  height: 100%;
  grid-column: 1/end;
  /* font-family: "Helvetica"; */

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: white !important;
}

@font-face {
  font-family: 'CeruleanBlueCapsDEMO-Regular';
  src: url("./cerulean.otf") format("opentype");
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: auto;
}

.header_container {
  display: grid;
  grid-column: 1/end;
  position: relative;
  background: no-repeat center center cover;
}

.header_logo_container {
  /*grid-column: 1/1;*/
  grid-column-start: 1;
  grid-column-end: 2;
}

.header_logo_text_container {
  grid-column: 2/3;
}

.header_logo_text {
    /* 2/3 */
    font-family: 'CeruleanBlueCapsDEMO-Regular';
    font-size: 6em;
    /*justify-self: end;*/
    text-align: left;
}
.header_logo {
  height: auto;
  max-height: 15em;
  padding: 1em;
}
.custom_nav {
  /*span from the first column to the last column*/
  grid-column: 1/end; /*end is a valid keyword apparently? according to chrome at least*/
  width: 100%;
  background-color: rgb(158, 158, 158);
  font-family: 'CeruleanBlueCapsDEMO-Regular';
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 2em;

  box-shadow: -2px 5px 10px #444444;
  z-index: 3;
}

.custom_nav > a {
  padding: 5px;
  text-align: center;
  text-decoration: none !important;
  color: white;
}

.custom_nav > a:visited {
  color: white;
}

/*Custom Dropdown*/

.droptoggle {
  color: white !important;
}

.droptoggle::after {
  content: "ˇ";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  color: black;
  text-decoration: none;
}

.dropdown a:visited {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .droptoggle {color: rgb(67, 69, 10)}

/*Custom Dropdown*/

/* Shop Shit */

.cart_icon {
  max-width: 1.5em;
  height: auto;
}

.cart_container {
  width: 100%;

  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  */
}

.items_container {
  width: 100%;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-rows: auto;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  border-spacing: 5px, 10px;
  position: relative;

  /*These two properties are what allowed me to center grid items AND have them take up proper spacing*/
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
}

@media only screen and (max-width : 780px) {
  /* Styles */
  .items_container {
    grid-template-columns: auto;
    justify-content: initial;
  }

  .item_image {
      max-height: 3em !important;
  }

  #item_editor_container {
      height: 80vh !important;
  }

  input {
      width: 100% !important;
  }

  .hide_small_display {
      display: none;
  }

  .hide_overflow_small_display {
      white-space: nowrap;
      overflow: hidden;
  }
}

#shop_item_outerlink {
  text-decoration: none !important;
  color: black;
}

a:hover#shop_item_outerlink {
  color: purple;
}

a:visited#shop_item_outerlink {
  text-decoration: none !important;
  color: red;
}

.item_image {
  max-height: 10em;
  inset: 3px 3px 3px 3px;
  width: auto;
  position: relative;
}

.item_name {
  font-style: bold;
  color: black;
  text-align: center;
}

.quantity {
  color: black;
  text-align: center
}

.price {
  color: black;
  
}
.price_sale {
  color: red;
}

td > a {
    color: white;
}

td > a:visited {
    color: white;
}

.overlay_container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  text-align: center;
  z-index: 5;
}

/* Drop shadow take 2 */
.shop_item_container {
  /*max-width: 10em;*/
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  border-radius: 5px;
  border: 6px white;
  background-color: white;
  /*box-shadow: 4px 5px 10px #888888;*/
  /*max-width: 25em;*/
  z-index: 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  justify-content: center;
}

/* 
.shop_item_container::after {
  position: absolute;
  content: '';
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 9px 5px 10px #888888;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, -100%);
}
*/

.shop_item_container:hover {
  transform: scale(1.05, 1.05);  /*thonk*/
  z-index: 9999;
}
/*
.shop_item_container:hover::after {
  opacity: 1;
}
*/

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/** Shop CP Overlay */

#upload_preview {
  display: flex;
  overflow: scroll;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 10;
  cursor: pointer;

  padding-top: 10%;
}

#new_subdb_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 10;
  cursor: pointer;

  padding-top: 10%;
}

.overlay__close {
    color: white;
    position: relative;
}

.quagga_overlay {
    position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 11;
  cursor: pointer;

  padding-top: 10%;
}

#new_item_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 10;
  cursor: pointer;

  padding-top: 10%;
}

#existing_images_overlay {
    position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 11;
  cursor: pointer;

  padding-top: 10%;

  max-height: 100vh;
}

.fullwidth * { width:100% !important;}

#item_editor_container {
  background-color: darkgray;
  margin: auto;
  padding: 2%;
  box-shadow: 9px 5px 10px #888888;
  border-radius: 5px;
  width: 75%;
  max-height: 80vh;
  overflow: scroll;

  /*"padding: 10%; background-color: darkgray"*/
}

.overlay {
  background-color: black;
  color: white;
  margin: auto;
}

#dummy_scroll_container {
    max-width: 100%;
    overflow:scroll;
}

.item_image_container {
  position: relative;
}

.item_image_cp {
  display: block;

  max-height: 10em;
  inset: 3px 3px 3px 3px;
  width: auto;
  padding: 1%;
  position: relative;
}

.item_image_overlay {
  opacity: 0;
  background-color: red;
  color: white;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: .5s ease;
}

.item_image_container:hover .item_image_overlay{
  opacity: 1;
}

.cookie_check_fail 
{
  padding: 5%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  position: absolute;
  z-index: 5;


  width: 120px;
  top: 100%;
  left: 160%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}