<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="<%- base_url %>">
  <link rel="stylesheet" href="/css/inventory.css">

  <!--Two essential scripts and one non-essential but still fun.-->
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="/scripts/selfserve.js"></script>
  <script src="/scripts/selfserve_blog.js"></script>
  <script src="/scripts/random_banner.js"></script>
  <script src="/scripts/selfserve_inventory.js"></script>
</head>

<body>
  <div class="wrapper">
    <navbar class="custom_nav">
      <a href='javascript:void(0);' onclick='window.history.back();' style='display: none;'>GO BACK</a>
      <a href="./TESTING/inventory">
        <div class="shop_home tooltip">
            <img src="./images/shop/home.png" class="cart_icon">
            <span class="tooltiptext">Inventory Home</span>
        </div>
     </a>
    </navbar>

    <div class="main_content_area">
      <%- body %>
    </div>
  </div>
</body>

<script>
  selfserve.auth.onLogin.push(() => 
  {
    console.log('[INV VIEW TEMPLATE]: Current User: ', selfserve.global.currentUser);
    if(selfserve.global.currentUser !== undefined && selfserve.global.currentUser.power === 1)
      $("#shop_cp_icon").show();
  });
</script>
</html>
