<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="<%- base_url %>">
  <link rel="stylesheet" href="/css/shop.css">

  <!--Two essential scripts and one non-essential but still fun.-->
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="/scripts/selfserve.js"></script>
  <script src="/scripts/selfserve_blog.js"></script>
  <script src="/scripts/random_banner.js"></script>
  <script src="/scripts/selfserve_shop.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="header_container">
      <div class="header_logo_container"><a href="./"><img class="header_logo" src="images/logo.svg"></a></div>
      <div class="header_logo_text_container">
        <div id='header_logo_text_container' style='width=100%; height=100%'>
          <h1 class="header_logo_text">PSYCH CAT WEBSTORE</h1>
        </div>
      </div>
    </div>

    <navbar class="custom_nav">
      <a href="./shop/index.html">
        <div class="shop_home tooltip">
          <img src="./images/shop/home.png" class="cart_icon">
          <span class="tooltiptext">Shop Home</span>
        </div>
      </a>
      <br>
      <a href="./TESTING/shop/cart.html">
        <div class="cart tooltip">
          <img src="./images/shop/empty_cart.png" class="cart_icon">
          <span class="item_count">0</span>
          <span class="tooltiptext">View Cart</span>
        </div>
      </a>
      <a href="./shop/shop_cp" id="shop_cp_icon" style="display: none;">
        <div class="cart tooltip">
          <img src="./images/shop/cp.png" class="cart_icon">
          <span class="tooltiptext">Shop Control Panel</span>
        </div>
      </a>
    </navbar>

    <div class="main_content_area">
      <%- body %>
    </div>
  </div>
</body>

<script>
  selfserve.global.onLoad.push(() => {
    console.log('Set banner');
    selfserve.random_banner.setBannerWithGradient("./images/random/shop.png", {r: 255, g: 255, b: 255})
  });
  selfserve.auth.onLogin.push(() => 
  {
    console.log(selfserve.global.currentUser);
    if(selfserve.global.currentUser !== undefined && selfserve.global.currentUser.power === 1)
      $("#shop_cp_icon").show();
  });
</script>

</html>
